:root {
    --game-vignette: inherit;
}

* {
    margin: 0;
}

html, body {
    position: relative;
    width: 100%;
    height: 100%;
    background: #2b182c;
}

pre {
    padding: .7rem 1rem;
    border-radius: 5px;
    background: #1a202c;
    color: #fff;
    font-size: .8rem;
    overflow-x: auto;
}

blockquote {
    border-left: 3px solid rgb(26, 32, 44);
    color: rgb(255, 255, 255);
    padding-left: .8rem;
    background: #1a202c30;
    font-style: italic;
}

img {
    max-width: 100%;
}

#app {
    position: relative;
    height: 100%;
}

.close {
    color: white;
}

.b-toast .close {
    color: black;
}

.modal-content {
    border-radius: 0;
}

.modal-header {
    background: #311f39;
    border-radius: 0;
    color: white;
}

.modal-body {
    padding: 0 20px 20px;
}

.alert-danger ul {
    margin: 0 0 0 40px;
}

label {
    margin: 0;
    cursor: pointer;
}

label.inline {
    width: auto;
}

input[type="text"], input[type="email"], input[type="password"], input[type="time"], input[type="date"], input[type="url"], textarea, select {
    width: 100%;
    height: 35px;
    cursor: pointer;
}

.btn-primary {
    line-height: 35px;
    background: #820386;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
}

.btn-primary:hover {
    background: #520153;
}

.btn-primary:focus, .btn-primary:not(:disabled):not(.disabled):active {
    background: #410142;
}

.body-site {
    position: relative;
    padding: 62px 15px 0;
    height: 100%;
    max-width: none;
}

.body-site > .row {
    position: relative;
    height: 100%;
}

.body-content {
    background-image: url(/images/backdrop.jpg?5d8f2eb43652b5dd71649fbcd97710a6);
    background-size: cover;
}

.right-col {
    background: #311f39;
    padding: 0;
}

.next-edition {
    background: #fb9218;
    text-align: center;
    font-size: 20px;
    padding: 0;
}

.next-edition a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
}

.next-date {
    background: #be8dc4;
    font-size: 1.75vw;
    text-align: center;
    display: flex;
}

.next-date span,
.next-time span {
    margin: auto;
}

.next-time {
    background: #ee1c25;
    font-size: 15px;
    text-align: center;
    padding: 0;
    display: flex;
}

.next-time span {
    display: block;
}

.next-time span span {
    font-size: 2vw;
}

.body-site h2 {
    color: white;
}

.white-title {
    width: 100%;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    margin: 10px 0 5px;
}

.bad-row {
    margin: 0;
}

.game-row {
    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
}

.form-line a {
    color: #820386;
    font-weight: bold;
}

.page-spinner {
    position: fixed;
    z-index: 10000;
    margin: auto;
    width: 100%;
    height: 100%;
    background: #00000047;
}

.page-spinner .spinner-border {
    height: 100px;
    width: 100px;
    margin: auto;
    display: block;
    top: 40%;
    position: relative;
}

.card {
    background: none;
    text-align: center;
    border: 1px solid #382e2d;
}

.card-header {
    border-bottom: 1px solid #382e2d;
}

a {
    color: #75b8ff;
}

a:hover {
    color: #56a5ff;
}

.modal-body {
    color: black;
}

.modal-footer {
    justify-content: center;
}

/**
HEADER CSS
 */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
    height: 62px;
    padding: 3px 1rem;
}

.nav-menu.navbar-nav {
    margin: auto;
}

.nav-menu .nav-item {
    text-align: center;
    font-size: 20px;
    margin: 0 25px;
}

.nav-menu .nav-link {
    color: white;
}

.nav-menu .nav-link.active {
    border-bottom: 1px solid pink;
}

.nav-menu .nav-link:hover {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid violet;
}

.navbar-brand {
    position: relative;
    height: 100%;
}

.bg-brown {
    background: #382e2d;
}

.logo {
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

.dropdown-menu-right {
    position: absolute !important;
    background: #2b2322;
    color: white;
    padding: 0;
    border-radius: 2px;
}

.dropdown-menu-right a {
    color: white;
}

.nav-user a {
    text-shadow: none;
}

.nav-user span {
    width: 100%;
    background: #be8dc4;
    border: 2px solid black;
    margin: 0;
    padding: 3px 20px 3px 8px;
    color: black;
    text-align: right;
}

.nav-user span.username {
    border: none;
    padding: 0;
}

.nav-user img {
    background: #4f3059;
    position: absolute;
    right: 0;
    height: 35px;
    width: 35px;
    top: 2px;
    border-radius: 35px;
    border: 2px solid black;
}

@media screen and (max-width: 991px) {
    .body-content {
        padding: 0;
    }

    .nav-menu .nav-item {
        width: 100%;
        margin: 0;
    }

    .nav-menu .nav-item:hover {
        background: #3e3432;
    }

    .right-col {
        position: absolute;
    }

    .next-edition, .next-date, .next-time {
        padding: 5px;
        font-size: 15px;
    }

    .next-time span {
        display: inline-block;
        margin: auto;
        width: 33%
    }

    .next-time span span,
    .next-time span {
        font-size: 15px;
    }

    .body-content {
        margin: 32px 0 0 0;
    }
}

/**
MODAL CSS
 */

button.close {
    width: auto;
    height: auto;
}

/**
PAGE BLOCK
 */

.page-block {
    background: rgba(156, 156, 156, 0.35);
    margin: auto;
    width: 70%;
    height: 100%;
    max-width: 820px;
    padding: 30px;
    color: white;
}

.page-block h1 {
    text-align: center;
}

@media screen and (max-width: 992px) {
    .page-block {
        width: 100%;
    }

    .username {
        display: none;
    }

    .navbar-collapse {
        display: none;
        position: absolute;
    }

    .navbar-collapse.show {
        background: rgb(76, 63, 61);
        width: 100%;
        left: 0;
        top: 62px;
        position: fixed;
        padding: 0 10px;
        display: block;
    }
}

/**
SHOWCASE BLOCK
 */

.showcase.small-user-sub-sc {
     height: 95px;
     text-overflow: ellipsis;
     overflow: hidden;
     white-space: nowrap;
}

.small-sc {
    height: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.big-sc {
    height: 200px;
}

.showcase {
    padding: 0;
    margin: 5px 0;
}

.sub-showcase {
    margin: 0 5px;
    background: var(--background) no-repeat center;
    height: 100%;
    background-size: contain;
}

.sub-showcase.small-user-sub-sc {
    height: 95px;
    background: var(--game-vignette);
    background-size: cover;
}

.showcase-user {
    background: #503253;
    margin: 0 5px;
    padding: 0 5px;
    overflow: hidden;
    font-size: 0.9rem;
}

.showcase-user a {
    color: #ffffff;
}

.showcase img {
    max-width: 100%;
    height: 100%;
    position: relative;
}

.showcase a {
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.showcase a span.small-sc {
    height: 35px;
    line-height: 50px;
}

.showcase a span.big-sc {
    height: 60px;
    line-height: 90px;
}

.showcase a span {
    position: absolute;
    width: 100%;
    display: inline-block;
    bottom: 0;
    padding: 0 5px;
    background: linear-gradient(rgba(80, 49, 83, 0.02), rgba(80, 49, 83, 0.44), rgba(80, 49, 83, 0.84), #503153);
    color: white;
}

/**
Alert box
 */

.header.alert {
    position: absolute;
    z-index: 1;
    width: 100%;
    left: 0;
    border-radius: 0;
}

.alert .close {
    float: left;
    color: black;
    line-height: 20px;
}

.modal-alert.alert{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
}

.no-overflow{
    overflow: initial!important;
}

.checkbox input {
    width: 17px;
    height: 17px;
    margin: 0 10px 0 0;
}

.checkbox label {
    width: auto;
    font-size: 20px;
}

@media screen and (max-width: 992px) {
    .checkbox input {
        width: 15px;
        height: 15px;
        margin: 0 5px 0 0;
    }

    .checkbox label {
        width: auto;
        font-size: 18px;
    }
}

@media screen and (max-width: 531px) {
    .body-content {
        margin: 54px 0 0 0;
    }

    .next-date {
        font-size: 3vw;
    }

    .next-time span span,
    .next-time span {
        font-size: 3vw;
    }
}

