.vc-container {
    max-width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.custom-calendar .vc-highlight {
    width: 80%;
}

.custom-calendar .day-content-parent {
    text-align: center;
}

.custom-calendar .vc-day-content {
    width: 80%;
    border-radius: 9999px;
}

.custom-calendar .vc-highlights .vc-day-box-center-center,
.custom-calendar .vc-highlights .vc-day-box-right-center,
.custom-calendar .vc-highlights .vc-day-box-left-center {
    align-items: inherit;
    top: 2px;
}

.jam-info {
    font-size: 0.7rem;
}

.text-center {
    width: 100%;
    display: inline-block;
}

.day-vote {
    display: none;
    top: 4px;
    position: absolute;
    right: 8px;
    background: #382e2d;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    cursor: pointer;
}

.day-vote:hover {
    background: #5e4e4b;
}

.day-content-parent:focus .day-vote, .day-content-parent:hover .day-vote {
    display: inline-block;
}

