form button {
    width: 100%;
    background: #820386;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
}

button.mixed-form {
    width: 50%;
    height: 35px;
    background: #820386;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 0;
}

button.disabled{
    background: #656565;
}

.form-line {
    margin: 25px 0 0;
    overflow: auto;
}

